
{% block content %}

    <h1>Click on one of the two buttons to select one of the calculators</h1>
    <div class="container">
        <form method="POST">
            {% csrf_token %}   
            {{form.as_p}}  
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit" name="bmi_cal" formaction="{% url 'welcome:bmi_cal' %}">
                BMI Calculator
            </button>
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit" name="retire" formaction="{% url 'welcome:retire' %}">
                Retirement
            </button>
        </form>
    </div>
{% endblock %}